src/main/mule/yeabproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0e478f49-d46d-4112-a5b7-12da1583cc52" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8f0062a4-ccf3-42bb-bf2e-d66e651e91fd" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="yeabprojectFlow" doc:id="db27e1cd-2985-4b13-b6dd-f1a47ca228e9">
		<http:listener doc:name="Listener" doc:id="0c5b12d6-d243-4171-9ff0-a561c1e0a79d" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="62194a5b-9c81-4dee-b5b4-e1673e4a236f" path="/{region}/{city}" config-ref="HTTP_Request_configuration">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
